body{
    color: black;
    text-align: center;
}
.conteiner{
    border-radius: 25px;
    border: 2px solid #ff92b6;
    padding: 20px;
    width: 300px;
    height: 230px;
    padding-top: 50px;
    margin: 70px 500px;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #ff92b6;
    padding: 14px 0px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 70%;
}
    
.box input[type="submit"]:hover{
    background: #ff92b6;
}